/* NEWSLETTER ATLETI – CSS DEDICATO */

.newsletter-atleti-box h3 {
    color: #cc3a3a;
    font-weight: 700;
}

.newsletter-atleti-box ul li {
    margin: 14px 0;
}

.newsletter-atleti-box ul li a {
    font-size: 1.08em;
}

.newsletter-atleti-box ul li a:hover {
    padding-left: 6px
}