/* NEWSLETTER GENITORI – CSS DEDICATO */

.newsletter-genitori-box h3 {
    color: #cc3a3a;
    font-weight: 700;
}

.newsletter-genitori-box ul li {
    margin: 14px 0;
}

.newsletter-genitori-box ul li a {
    font-size: 1.08em;
}

